

@import "./header";
/*import for hambuger menu*/
@import "./hmenu";
/*imprt for mediaqueries*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
$color:  (
    primary: #272623,
    secondary: #d1d0cd,
    bg-color: #fff,
    accent-color: #000
);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
}


//Section 1 starts here
.container {
    width: 100%;
    overflow: hidden;
    height: 400px;
    position: relative;
    clear: both;
    margin-top: 6.5rem;
    left: 0;
    right: 0;
    color: rgb(248, 7, 7);
   
}
.Sm-Helmet-sc{
    background-image: url(../img/hl2.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    & h1{
        font-size: 40px;
        font-family: "Quicksand", sans-serif;
        margin-top: 200px;
        margin-bottom: 0.5rem;
        padding-left: 2rem; 
        color: map-get($color, bg-color);
        text-shadow: 3px 3px 8px #111;
        font-weight: 700;
    }
    & h1:nth-child(2){
        font-size: 35px;
        font-family: "Quicksand", sans-serif;
        margin-top: 0px;
        padding-left: 3rem; 
       
    }
    & button{
        all: unset;
        background: rgb(34, 34, 34) transparent;
        padding: 8px 29px;
        color: map-get($color, bg-color );
        cursor: pointer;
        border: 3.9px solid rgb(255, 255, 255);
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 700;
        border-radius: 1.5rem;
        margin-left: 7rem;
        margin-top: 0.2rem;
        transition: all 350ms ease-in-out;
        &:hover {
            background: map-get($color, bg-color );
            
            color: rgb(3, 2, 2);
            
        }
    }
    
}
.category-sc{
    max-width: 1250px;
    height: 400px;
    overflow-y: hidden;
    padding: 2.0rem 3.5rem;
    left: -1rem;
    position: relative;
    right: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    color: map-get($color, primary);
    & h3{
        font-size: 28px;
        font-weight: 1000;
        text-align: center;
    }
    & a{
        @extend h3;
        text-decoration: none;
        font-size: 25px;
        bottom: 0.4rem;
        position: absolute;
        left: 0;
        text-shadow: none;
        color: map-get($color, primary );
        right: 0;
        
        &::before{
            content: '';
            display: block;
            height: 2.5px;
            width: 25%;
            background: map-get($color, primary );
            left: 20px;
            margin: 0 auto;

            padding-top: -20px; 
            transform: scale(1,1);
            transition: transform ease-in-out 250ms;
        }
        &:hover::before{

            transform: scale(0,1);

        }
        &:hover{
            color: map-get($color, accent-color );
            
        
        }
    }
    .open-fc {
        width: 33%;
        box-shadow:  0px 1px 5px  rgba(0, 0, 0, 0.4);
        height: 290px;
        padding: 0.2rem;
        top: 4rem;
        position: relative;
        border-radius: 5px;
        background-image: url(../img/bgt.jpg);
        background-size: 210px;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        text-shadow: 6px 2px 6px rgb(255, 255, 255);
        text-align: center;
        transition: all ease-in-out 0.3s;
        &:hover {
            background-size: 240px;   
        }
    }
    .md-fc {
        @extend .open-fc;
        top: 2rem;
        left: 1.5rem;
        background-image: url(../img/bgo.jpg);
        background-size: 250px;
        transition: all ease-in-out 0.3s;
        &:hover {
            background-size: 280px;   
        }
    }
    .fl-fc {
        @extend .open-fc;
        background-image: url(../img/sm.jpg);
        left: 3rem;
        background-size: 280px;
        &:hover {
            background-size: 310px;   
        }
    }
}
/*Featured Products Section*/
.new-sc {
    @extend .category-sc;
    padding: 5rem 0;
    
    width: 90%;
    height: auto;
    display: block;
    position: relative;
    
    
    
    h2 {
        font-size: 50px;
        padding: 0;
        margin: 0;
        text-align: center;
        &::after{
            content: '';
            display: block;
            margin: 10px auto;
            height: 5px;
            width: 200px;
            background: map-get($color, secondary);
        }
    }
    
    .featured-products {
        display: block;
        position: relative;
        margin-left: 2rem;
        margin-top: 2rem;
        overflow: visible;
        width: 330px;
        height: 300px;
        box-shadow:  0px 1px 5px  rgba(0, 0, 0, 0.4);
        padding: 0.2rem;
        top: 2rem;
        left: 3.5rem;
        position: relative;
        border-radius: 5px;
        background-size: 210px;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        text-shadow: 6px 2px 6px rgb(255, 255, 255);
        text-align: center;
        transition: all ease-in-out 0.3s;
        h3{
            font-size: 25px;
        }
        p{ position: absolute;
            bottom: 0.5rem;
            right: 0;
            left: -9rem;
            font-size: 20px;
        }
      
    }
    .featured-products:nth-child(4){
        background-image: url(../img/mt.jpg);
    }
    .featured-products:nth-child(5){
        background-image: url(../img/mt2.jpg);
    }
    .featured-products:nth-child(2){
        background-image: url(../img/mt3.png);
    }
    .featured-products:nth-child(3){
        background-image: url(../img/mt4.png);
    }
    .featured-products:nth-child(6){
        background-image: url(../img/mt.jpg);
    }
    .featured-products:nth-child(7){
        background-image: url(../img/mt2.jpg);
    }

    button {
        z-index: 2;
        position: absolute;
        bottom: 0.5rem;
        left: 200px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        background: transparent;
        outline: none;
        padding: 6px 26px;
        border: 2px solid #000;
        border-radius: 20vh;
        transition:  all ease 0.3s;
        &:hover {
           background: #000;
           cursor: pointer;
            color: #fff;
        }
    }
}
/*Media Queries*/
@import "./mediaqueries";