@import "./header";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
$color:  (
    primary: #272623,
    secondary: #d1d0cd,
    bg-color: #fff
);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/*Hamburger Menu*/
.menu {
   clear: both;
   display: none;
   padding: 5px;
}
.menu div{
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 245, 245);
    margin: 4px;
    cursor: pointer;
    position: absolute;
    right: 5rem;
    top: 4.41rem;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 20;
    transition: all 0.2s ease;
}
.menu div:nth-child(2){
    top: 4.19rem;
    z-index: 5000;
    transition: all 0.2s ease;

}
.menu .box{
    display: block;
    width: 50px;
    height: 50px;
    background-color: map-get($color , primary );
    cursor: pointer;
    position: absolute;
    right: 4rem;
    top: 3.0rem;
    box-sizing: content-box;
   

}
.menu div:nth-child(3){
    top: 4.68rem;
    z-index: 5000;
    transition: all 0.2s ease;
}
.toggle .lineth{
    
    transform: rotate(45deg) translate(-3px,-6px);
}
.toggle .linet{
   
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .lineo{
   opacity: 0;
}
@media screen and (max-width: 1100px){
    nav ul{ 
        margin-left: 10px;
        float: left;
        clear: both;
        transition: all 0.3s ease;
    }
}
@media screen and (max-width: 360px){
    .container {
        
        background: map-get($color ,primary );

        display: block;
        position: relative;
        margin-top: 2rem; 




    }
    .logo{
        margin: 10px 0px;
      }
   
    .menu div{
       
        right: 2rem;
        top: 4.41rem;
    }
    .menu div:nth-child(2){
        top: 4.19rem;
       
    
    }
    .menu .box{
        
        right: 1.2rem;
        
    }
   .logo {
       left: 4rem;
   }
}
@media screen and (max-width: 900px){
   
    header {
        overflow: visible;
        background-color: map-get($color, primary );
        z-index: 5;
    }
    .logo{
      
    
        
        float: none;
        z-index: 10;
        top: 0rem;
        left: 1rem;
        position: relative;
        &:hover{
            opacity: 0.7;
            transition: all 0.3s ease-in-out;
        }
      }
    .menu {
        display: block;
        z-index: 10;
    }
    @keyframes menuSlide {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    nav {
        position: relative;
        top: -20px;
       height: 100vh;
       width: 100%;
       background-color: map-get($color, primary );
       overflow: hidden;
       text-align: center;
       position: relative;
       transform: translateY(-100%);
       transition: transform 0.5s ease;
    }
    .menu-active{
        transform: translateY(0%);
    }
    nav ul{overflow: hidden;
        display: block;
        float: none;
        margin: 0 auto;
    }
    nav ul li {
        list-style: none;
        float: none;
        margin: auto;
        display: grid;
        padding: 0px 0;
        border-bottom: 1px solid #fff;
        opacity: 0;
    }
     nav ul li a{
          text-align: center;
          display: block;
          padding: 0;
          line-height: 70px;
          opacity: 1;
          
          
      }
      .container .Sm-Helmet-sc {

        background-position: center;
    }
    

}
//Section 1 starts here
.container {
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;
    margin-top: 6.5rem;
    left: 0;
    right: 0;
    color: rgb(248, 7, 7);
   
}
.Sm-Helmet-sc{
    background-image: url(../img/hl2.png);
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    & h1{
        font-size: 40px;
        font-family: "Quicksand", sans-serif;
        margin-top: 200px;
        padding-left: 2rem; 
        color: map-get($color, bg-color);
        text-shadow: 3px 3px 8px #111;
        font-weight: 700;
    }
    & h1:nth-child(2){
        font-size: 35px;
        font-family: "Quicksand", sans-serif;
        margin-top: 0px;
        padding-left: 3rem; 
       
    }
    & button{
        all: unset;
        background: map-get($color ,bg-color );
        padding: 10px 20px;
        color: map-get($color, primary );
        cursor: pointer;
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 500;
        border-radius: 0.5rem;
        margin-left: 7rem;
        margin-top: 1rem;
        transition: all .25s ease-in-out;
        box-shadow: -9px -8px 0px rgba(138, 139, 139, 0.8);
        &:hover {
            box-shadow: -4px -3px 7px rgba(138, 139, 139, 00.8);
            background: map-get($color, primary );
            
            color: #fff;
        }
    }
    
}