

@import "./header";
/*import for hambuger menu*/
@import "./hmenu";
/*imprt for mediaqueries*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
$color:  (
    primary: #272623,
    secondary: #d1d0cd,
    bg-color: #fff,
    accent-color: #000
);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
}


//Section 1 starts here
.container {
    width: 100%;
    overflow: hidden;
    height: 400px;
    position: relative;
    clear: both;
    margin-top: 6.5rem;
    left: 0;
    right: 0;
    color: rgb(248, 7, 7);
   
}
.Sm-Helmet-sc{
    background-image: url(../img/hl2.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    & h1{
        font-size: 40px;
        font-family: "Quicksand", sans-serif;
        margin-top: 200px;
        padding-left: 2rem; 
        color: map-get($color, bg-color);
        text-shadow: 3px 3px 8px #111;
        font-weight: 700;
    }
    & h1:nth-child(2){
        font-size: 35px;
        font-family: "Quicksand", sans-serif;
        margin-top: 0px;
        padding-left: 3rem; 
       
    }
    & button{
        all: unset;
        background: map-get($color ,bg-color );
        padding: 10px 20px;
        color: map-get($color, primary );
        cursor: pointer;
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 500;
        border-radius: 0.5rem;
        margin-left: 7rem;
        margin-top: 1rem;
        transition: all .25s ease-in-out;
        box-shadow: -9px -8px 0px rgba(138, 139, 139, 0.8);
        &:hover {
            box-shadow: -4px -3px 7px rgba(138, 139, 139, 00.8);
            background: map-get($color, primary );
            
            color: #fff;
        }
    }
    
}
.category-sc{
    max-width: 1250px;
    height: 70vh;
    overflow-y: hidden;
    padding: 0.2rem 3.5rem;
    left: -1rem;
    position: relative;
    right: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    color: map-get($color, primary);
    & h3{
        font-size: 28px;
        font-weight: 1000;
        text-align: center;
    }
    & a{
        @extend h3;
        text-decoration: none;
        font-size: 25px;
        bottom: 0.4rem;
        position: absolute;
        left: 0;
        text-shadow: none;
        color: map-get($color, primary );
        right: 0;
        
        &::before{
            content: '';
            display: block;
            height: 2.5px;
            width: 25%;
            background: map-get($color, primary );
            left: 20px;
            margin: 0 auto;

            padding-top: -20px; 
            transform: scale(1,1);
            transition: transform ease-in-out 250ms;
        }
        &:hover::before{

            transform: scale(0,1);

        }
        &:hover{
            color: map-get($color, accent-color );
            
        
        }
    }
    .open-fc {
        width: 33%;
        box-shadow:  0px 1px 5px  rgba(0, 0, 0, 0.4);
        height: 290px;
        padding: 0.2rem;
        top: 4rem;
        position: relative;
        border-radius: 5px;
        background-image: url(../img/bgt.jpg);
        background-size: 210px;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        text-shadow: 6px 2px 6px rgb(255, 255, 255);
        text-align: center;

    }
    .md-fc {
        @extend .open-fc;
        top: 2rem;
        left: 1.5rem;
        background-image: url(../img/bgo.jpg);
        background-size: 250px;

    }
    .fl-fc {
        @extend .open-fc;
        background-image: url(../img/sm.jpg);
        left: 3rem;
        background-size: 280px;
    }
}
/*Media Queries*/
@import "./mediaqueries";